.my-purchases {
    /* 
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #a8202038; */
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #b8b3b362;
  }
  
  .purchase-list {
    list-style-type: none;
    padding: 0;
  }
  
  .purchase-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .purchase-item:last-child {
    border-bottom: none;
  }
  
  .purchase-date,
  .purchase-description,
  .purchase-points {
    margin: 5px 0;
  }
  
  .new-purchase-button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new-purchase-button:hover {
    background-color: #0056b3;
  }
  